<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>Kylem@agilebridge.co.za</AccountUsername>
    <ApiMToolType>OpenApi</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>bruno-vehicle-hire-api</AzureServiceName>
    <AzureServiceResourceGroup>NexusDev</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/96aa3197-ff05-4b8f-9aa8-38a2b0a9f486/resourceGroups/NexusDev/providers/Microsoft.Web/sites/bruno-vehicle-hire-api</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>96aa3197-ff05-4b8f-9aa8-38a2b0a9f486</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Kyle Marshall Subscription – MPN</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/96aa3197-ff05-4b8f-9aa8-38a2b0a9f486/resourceGroups/NexusDev/providers/Microsoft.Web/sites/bruno-vehicle-hire-api (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMLinux.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>true</IsLinuxAzureService>
    <LanguageVersion>net5.0</LanguageVersion>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>BrunoVehicleHire.Api</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>BrunoVehicleHire.Api</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://bruno-vehicle-hire-api-dndcf8bsgqcmaea3.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>0937ec3f-a23f-4e50-8324-68a5eb9206c8</TenantId>
  </PropertyGroup>
</Project>